<h2>Edit Your Profile</h2>

<%= form_for @user do |f| %>
  <%= f.label "Are you a book reviewer?" %>
  <%= f.check_box :reviewer, { class: "form-check", style: "display: inline-block" }, true, false %><br>
  <%= f.label "If you haven't already, please provide a brief bio of yourself" %><br>
  <%= f.text_area :bio, class: "form-control" %><span class="error-text"><%= form_errors(@user, :bio) %></span><br>
  <%= f.submit "Make Changes", class: "btn btn-primary" %>
<% end %>
