<p>Are you already registered? <%= link_to "Login", login_path %></p>
<div class="signup_login_container">
  <div class="signup_login">
    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %><span class="error-text"><%= form_errors(@user, :name) %></span><br>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %><span class="error-text"><%= form_errors(@user, :email) %></span><br>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %><span class="error-text"><%= form_errors(@user, :password) %></span><br>
      <%= f.label "Are you a book reviewer?" %>
      <%= f.check_box :reviewer, { class: "form-check", style: "display: inline-block" }, true, false %><br>
      <%= f.label "If you are a reviewer, please provide a brief bio of yourself" %><br>
      <%= f.text_area :bio, class: "form-control" %><span class="error-text"><%= form_errors(@user, :bio) %></span><br>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="omni">
    <%= link_to "Sign Up or Login with Facebook", '/auth/facebook', class: 'omni-auth-link' %>
  </div>
</div>
