<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% else %>
    <p>Are you already registered? <%= link_to "Login", login_path %></p>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %><br>
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %><br>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %><br>
  <%= f.label "Are you a book reviewer?" %>
  <%= f.check_box :reviewer, { class: "form-check", style: "display: inline-block" }, true, false %><br>
  <%= f.label "If you are a reviewer, please provide a brief bio of yourself" %><br>
  <%= f.text_area :bio, class: "form-control" %><br>
  <%= f.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
