<div class="container">
  <h1>Hi, <%= @user.name %></h1>
  <p>
    <%= @user.bio %>
    </p>
  <h4>What would you like to do?</h4>
  <div class="user-buttons">
    <%= button_to "Write a New Review", new_book_path, method: "get", class: "btn user-page-btn" %>   <%= become_reviewer(@user) %>   <%= button_to "Logout", logout_path, method: "delete", class: "btn user-page-btn" %>
  </div>
  <% if is_reviewer? %>
    <h4>Reviews You've Written</h4>
    <ul>
      <%= render collection: @user.reviews_written, partial: 'review_li', as: :review %>
    </ul>
  <% end %>

  <h4>Reviews You've Commented On</h4>
  <ul>
    <%= render collection: @user.reviews, partial: 'review_li', as: :review %>
  </ul>
</div>
