<h1>Books</h1>
<div class="search-container">
  <%= form_tag(books_path, method: :get) do %>
    <%= text_field :q, params[:q], class: "form-control-sm" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="border">
  <% @books.each do |book| %>
    <div class="flex-container container-fluid">
      <div class="article-list-left">
        <% if book.cover.attachment %>
          <%= link_to image_tag(book.cover, class: "article-img", alt: "book cover"), book_path(book) %>
        <% else %>
          <p>
            pic
            </p>
        <% end %>
      </div>
      <div class="article-content">
        <% if is_reviewer? %>
         <%= form_tag(new_book_review_path(book_id: book.id), method: 'GET', class: 'review-btn') do %>
           <%= submit_tag "Write a Review", class: "btn btn-primary" %>
         <% end %>
        <% end %>
        <h4>
          <%= link_to book.title, book_path(book) %>
        </h4>

        <p class="writer">
          By <%= link_to book.author.name, author_path(book.author) %>
        </p>
        <p class="genre-links hidden-phone">
          <%= book.genre.name %>
        </p>

        <p>
          <%= book.summary %>
        </p>
        <div class="read-full">
          <%= link_to "See Reviews", book_path(book) %>
        </div>
      </div>
    </div>
  <hr />
  <% end %>
</div>
