<div class="row no-gutters book-info">
  <div class="book-cover">
    <%= image_tag(@book.cover, class: "img-fluid", alt: "book cover") %>
  </div>

  <div class="book-details">
    <h6>BOOKS</h6>
    <h1><%= @book.title %></h1>
    <h4>By <%= link_to @book.author.name, author_path(@book.author) %></h4>
    <p style="text-align: center">Published in <%= @book.publish_year %></p>
    <p><%= @book.summary %></p>
  </div>
</div>
<div class="container">
  <h3>Reviews of <em><%= @book.title %></em></h3>
  <% @book.reviews.each do |review| %>
    <p><span style="font-size: 1.2em;"><%= link_to review.title, review_path(review) %></span> by <%= review.user.name %></p>
  <% end %>
</div>
