<!DOCTYPE html>
<html>
  <head>
    <title>RailsBookReviewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
    <div class="navbar">
      <a href="/">
        <%= image_tag ("bookmania-logo.png"), class: "brand", alt: "Logo" %>
      </a>
        <div class="navbar-text">
          <%= link_to "Book Reviews", "/reviews", class: "navbar-link" %>
          <%= navbar_user_link %>
        </div>
    </div>
  </header>
  <body class="container">
    <%= yield %>
  </body>
</html>
